body{
    margin: 0;
}
.navdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: brown;
    position: relative;
    padding: 10px;
    height: 50%;
    color: yellowgreen;

}
#Headname{
    padding: 5px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
    
}
#firstimg
{
    border-radius: 50%;
}
.menudiv{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 60%;
    
}
.spacediv{
    margin: 10px;
}
#p1{
    font-size: larger;

}
#p2{
    font-size: larger;

}
#p3{
    font-size: larger;

}
.bottomdiv{
    height: 50px;
    background-color: black;
}
.backgrounddiv{
    height: 90vh;
    padding-left: 90px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom:  30px; 
    background-color: rgba(183, 192, 52, 0.774); ;
}

/*#mealspictures{
    height: 90vh;
    border: 1px solid black;
    width: 40%;
    position: absolute;
    left: 810px;
    

}*/






